<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>Welcome to Home Page</h1>
    <button onclick="logout()">Logout</button>
</body>

<script>
    function logout() {
        fetch('/api/auth/logout', {
            method: 'POST',
            headers: {
                'Content-type': 'application/json; charset=UTF-8',
            },
            body: JSON.stringify({})
        })
            .then(function (data) {
                console.log(data)
                if (!data.error) {
                    location.replace("/login")
                }
            }).catch(error => console.error(`Error:`, error));
    }
</script>

</html>