<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>
    <h2>Login From</h2>
    <form id="from_login" method="post" enctype="multipart/form-data">
        <label>Email:</label><br>
        <input type="text" id="email" name="email" value=""><br>
        <label>Password:</label><br>
        <input type="password" id="password" name="password" value=""><br>
        <p>ยังไม่มีบัญชี <a href="/register">สมัคร</a></p>
        <button type="submit" id="submit_login">Register</button>
        <p id="error_login"></p>
    </form>
</body>

</html>